select:invalid,
.card-ttl,
.form-control::placeholder,
.text-message
{
  color: #c4c4c4;
}

.fs-1 {
  font-size: 20px;
}


.img-thumbnail { 
  object-fit:cover;
  width: 160px;
  height: 160px;
 }

 .img-icon {
  object-fit:cover;
   width: 100px;
   height: 100px;
 }

.profile-img  {
  object-fit:cover;
  height: 200px;
  width: 100%;
}

.thumbnail-wrap {
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}


