select:invalid,
.card-ttl,
.form-control::placeholder
{
  color: #c4c4c4;
}



.img-thumbnail { 
  object-fit:cover;
  width: 160px;
  height: 160px;
 }

.profile-img  {
  object-fit:cover;
  height: 200px;
  width: 100%;
}

.thumbnail-wrap {
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.user-name {
  /* margin-top: 50px; */
}