select:invalid,
.card-ttl,
.form-control::placeholder,
.text-message
{
  color: #c4c4c4;
}
.input-chat {
  margin-bottom: 41px;
}
.chat{
  margin-bottom: 41px;
  margin-top: 70px;
}
.mw-75 {
  max-width: 75%;
}
.fs-1 {
  font-size: 20px;
}

.fs-5 {
  font-size: 12px;
}
.img-thumbnail { 
  object-fit:cover;
  width: 140px;
  height: 140px;
}

@media screen and (max-width: 767px) {
  .img-thumbnail { 
    object-fit:cover;
    width: 80px;
    height: 80px;
  }
  

  .card-text {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .card-title {
    font-size: 14px;
  }
}

@media screen and (max-width:350px){
  .img-thumbnail { 
    object-fit:cover;
    width: 50px;
    height: 50px;
  }
}


.profile-img { 
  object-fit:cover;
  width: 140px;
  height: 140px;
}

.thumbnail-wrap {
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}




